@import "tailwindcss";

:root {
  --background: #F8F5FA; 
  --foreground: #2E1A47; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F5FA;
    --foreground: #2E1A47;
  }
}

body, html {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
